.table {
    display: flex;
}
.column {
    display: flex;
    margin: 5px;
}

.engLetters {
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 0 8px;
    margin-right: 8px;
}
.arRoot {
    border-left: 1px solid black;
    padding: 0 8px;
}